<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Accident</title>
</head>
<body>

<div class="row pt-3">
    <div class="card" style="width: 100%">
        <div class="card-header">
            Новый инцидент.
        </div>
        <div class="card-body">
            <form th:action="@{/save}" method="POST">
                <div class="form-group">
                    <input type="hidden" name="id" value="0"/>
                    <label for="name">Имя</label>
                    <input type="text" class="form-control" name="name" id="name">
                    <label for="text">Описание</label>
                    <input type="text" class="form-control" name="text" id="text">
                    <label for="address">Адрес</label>
                    <input type="text" class="form-control" name="address" id="address">
                </div>

                <div class="form-group">
                    <label for="tId">Тип:</label>
                    <select class="form-control" id="tId" name="tId">
                        <option th:each="type : ${types}" th:value="${type.id}" th:text="${type.name}"></option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="rIds">Статьи:</label>
                    <select class="form-control" id="rIds" name="rIds" multiple="multiple">
                        <option th:each="rule : ${rules}" th:value="${rule.id}" th:text="${rule.name}" th:selected="${rule.id==1}"></option>
                    </select>
                </div>
                <button type="submit" class="btn btn-primary">Сохранить</button>
            </form>
        </div>
    </div>
</div>

</body>
</html>