<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Accident</title>
</head>
<body>
<a class="nav-link" th:href="@{/create}">Добавление инцидента</a>

<div class="container">
    <div class="row">
        <table class="table" border="1">
            <thead>
            <tr>
                <th scope="col">Нарушение</th>
                <th scope="col">Описание</th>
                <th scope="col">Адрес</th>
                <th scope="col">Тип инцидента</th>
                <th scope="col">Изменение</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="accident:${accidents}">
                <td th:text="${accident.name}" />
                <td th:text="${accident.text}" />
                <td th:text="${accident.address}" />
                <td th:text="${accident.type.name}" />
                <td>
                    <a th:href="@{|/update?id=${accident.id}|}">
                        Редактирование
                    </a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>